.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e3a8a;
    color: white;
    padding: 18px 40px;
}

 .logo{

    font-size: 28px;
    font-weight: bold;
} 

.nav-links{

    display:flex;
    list-style:none;
    gap:30px;

}


.nav-links a{

    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    text-decoration: none;
    font-size: 17px;

}

.nav-links a:hover{

     color:#facc15; 
}

.logout-btn{

    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
     background:#ef4444; 
    color:white;
    cursor:pointer;
    font-size:15px;

}

.logout-btn:hover{

    background:#dc2626;

}
